{% extends "include/base.html" %}
{% load static %}
{% block body %}

    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb__area" style="background-image: url({% static 'img/page/breadcrumb.jpg' %});">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="breadcrumb__area-content">
						<h2>Portfolio 3 Columns</h2>
						<ul>
							<li><a href="../index.html">Home</a><i class="fa-regular fa-angle-right"></i></li>
							<li>3 Columns</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>       
    <!-- Breadcrumb Area End -->
    <!-- Portfolio Area Start -->
    <div class="three__columns section-padding-three">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mt-25 wow fadeInUp" data-wow-delay=".3s">
					<div class="portfolio__three-item">
						<img src="{% static 'img/portfolio/portfolio-3.jpg'  %}" alt="image">
						<div class="portfolio__three-item-content">
							<a href="portfolio-details.html"><i class="flaticon flaticon-right-up"></i></a>
							<span>Public Spaces</span>
							<h4><a href="portfolio-details.html">Community Center</a></h4>
						</div>
					</div>
                </div>
                <div class="col-lg-4 col-md-6 mt-25 wow fadeInUp" data-wow-delay=".6s">
					<div class="portfolio__three-item">
						<img src="assets/img/portfolio/portfolio-1.jpg" alt="image">
						<div class="portfolio__three-item-content">
							<a href="portfolio-details.html"><i class="flaticon flaticon-right-up"></i></a>
							<span>Healthcare</span>
							<h4><a href="portfolio-details.html">Healthcare Facility</a></h4>
						</div>
					</div>
                </div>
                <div class="col-lg-4 col-md-6 mt-25 wow fadeInUp" data-wow-delay=".9s">
					<div class="portfolio__three-item">
						<img src="assets/img/portfolio/portfolio-6.jpg" alt="image">
						<div class="portfolio__three-item-content">
							<a href="portfolio-details.html"><i class="flaticon flaticon-right-up"></i></a>
                            <span>Hospitality</span>
                            <h4><a href="portfolio-details.html">Seaside Resort Expansion</a></h4>
						</div>
					</div>
                </div>
                <div class="col-lg-4 col-md-6 mt-25 wow fadeInUp" data-wow-delay=".3s">
					<div class="portfolio__three-item">
						<img src="assets/img/portfolio/portfolio-2.jpg" alt="image">
						<div class="portfolio__three-item-content">
							<a href="portfolio-details.html"><i class="flaticon flaticon-right-up"></i></a>
                            <span>Retail</span>
                            <h4><a href="portfolio-details.html">Urban Mall Development</a></h4>
						</div>
					</div>
                </div>
                <div class="col-lg-4 col-md-6 mt-25 wow fadeInUp" data-wow-delay=".6s">
					<div class="portfolio__three-item">
						<img src="assets/img/portfolio/portfolio-7.jpg" alt="image">
						<div class="portfolio__three-item-content">
							<a href="portfolio-details.html"><i class="flaticon flaticon-right-up"></i></a>
							<span>Industrial</span>
							<h4><a href="portfolio-details.html">Industrial Warehouse</a></h4>
						</div>
					</div>
                </div>
                <div class="col-lg-4 col-md-6 mt-25 wow fadeInUp" data-wow-delay=".9s">
					<div class="portfolio__three-item">
						<img src="assets/img/portfolio/portfolio-5.jpg" alt="image">
						<div class="portfolio__three-item-content">
							<a href="portfolio-details.html"><i class="flaticon flaticon-right-up"></i></a>
							<span>Renovation</span>
							<h4><a href="portfolio-details.html">Historic Restoration</a></h4>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Area End -->
	<!-- Footer Area Start -->
{% endblock %}