{% extends 'include/base.html' %}
{% load static %}
{% block body %}
	<!-- Header Area End -->
    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb__area" style="background-image: url('assets/img/page/breadcrumb.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="breadcrumb__area-content">
						<h2>FAQs</h2>
						<ul>
							<li><a href="index.html">Home</a><i class="fa-regular fa-angle-right"></i></li>
							<li>FAQs</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- Breadcrumb Area End -->

    <!-- FAQ Area Start -->
    <div class="faq__page section-padding">
        <div class="container">
            <div class="row jc-center">
                <div class="col-xl-10">
                    <div class="wow fadeInUp" data-wow-delay=".4s" id="accordionExample">
                        {% for faq in faqlar %}
                        <div class="faq-item">
                            <h5 class="icon" data-bs-toggle="collapse" data-bs-target="#collapse{{ faq.id }}">{{ faq.question }}</h5>
                            <div id="collapse{{ faq.id }}" class="faq-item-body collapse show" data-bs-parent="#accordionExample">
                                {{ faq.answer }}
                            </div>
                        </div>
                        {% endfor %}



                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQ Area End -->
{% endblock %}